body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 25px 0 20px;
    color: #eee;
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.card {
    background-color: #eee;
    box-shadow: 1px 1px 5px #aaa;
    width: 230px;
    height: 250px;
    padding: 0 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
}

.card h4 {
    font-size: 1.4rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card h6 {
    font-size: 1rem;
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.top-container .btn {
    font-family: 'Courier New', Courier, monospace;
    padding: 8px 17px;
    cursor: pointer;
    background-color: #333;
    border: 1px solid #555;
    color: #eee;
    border-radius: 5px;
    font-size: 0.95rem;
}

.top-container .btn:hover {
    box-shadow: 0px 0px 3px #aaa;
}

.top-container .btn:active {
    transform: scale(0.96);
}

.top-container .btn:focus {
    outline: none;
}

#creator-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#creator-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    line-height: 2rem;
    width: 250px;
}

#creator-form legend {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.form-item {
    padding-right: 20px;
}

.form-item input:not(.form-item-checkbox input) {
    outline: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.form-item-checkbox {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

.form-item-checkbox label {
    margin-left: 20px;
}

.form-item-checkbox input {
    justify-self: flex-end;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.form-buttons {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.form-buttons .btn {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.form-buttons .btn:active {
    transform: scale(0.98);
}

.read-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.read-container input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.remove-btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #444;
}

.remove-btn:active {
    transform: scale(0.98);
}